<%= render 'shared/navbar' %>

<div class="w-full px-2 py-5 sm:px-2 lg:px-2" data-controller="section">
  <div class="flex items-center justify-between mb-8">
    <h2 class="text-3xl text-gray-800 sm:text-4xl">
      <span class="block font-extrabold tracking-tight"><%= @project.name %></span>
    </h2>
  </div>
  <div class="flex items-center justify-start space-x-4">
    <button data-action="click->section#showSection" data-section="recipe" class="bg-green-600 border border-transparent rounded-md py-4 px-6 inline-flex items-center justify-center text-lg font-medium text-white hover:bg-green-500">Рецепты</button>
  <button data-action="click->section#showSection" data-section="ingredient" class="bg-green-600 border border-transparent rounded-md py-4 px-6 inline-flex items-center justify-center text-lg font-medium text-white hover:bg-green-500">Ингредиенты</button>
  <button data-action="click->section#showSection" data-section="tag" class="bg-green-600 border border-transparent rounded-md py-4 px-6 inline-flex items-center justify-center text-lg font-medium text-white hover:bg-green-500">Теги</button>
  </div>
  <div id="content">
    <div data-section-target="recipe" class="hidden">
      <h3 class="text-xl font-bold">Рецепты</h3>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8">
        <div class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105">
          <a href="" class="block h-full">
            <div class="p-2 flex justify-center items-center h-full">
              <span class="text-2xl font-bold text-gray-900 dark:text-white">+</span>
            </div>
          </a>
        </div>
        <% @recipes.each do |recipe| %>
          <%= render partial: 'recipe_card', locals: { recipe: recipe } %>
        <% end %>
      </div>
    </div>

    <div data-section-target="ingredient" class="hidden">
      <h3 class="text-xl font-bold">Ингредиенты</h3>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105">
          <%= link_to new_project_ingredient_path(@project),data: { turbo_frame: 'modal' }, class: "block h-full" do %>
              <div class="p-2 flex justify-center items-center h-full">
                <span class="text-2xl font-bold text-gray-900 dark:text-white">+</span>
              </div>
          <% end %>
        </div>
        <% @ingredients.each do |ingredient| %>
          <%= render partial: 'ingredient_card', locals: { ingredient: ingredient } %>
        <% end %>
      </div>
    </div>

    <div data-section-target="tag" class="hidden">
      <h3 class="text-xl font-bold">Теги</h3>
      <div class="mt-6 grid grid-cols-6 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
        <div class="relative bg-white border rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 transform transition duration-500 hover:scale-105">
          <a href="" class="block h-full">
            <div class="p-2 flex justify-center items-center h-full">
              <span class="text-2xl font-bold text-gray-900 dark:text-white">+</span>
            </div>
          </a>
        </div>
        <% @tags.each do |tag| %>
          <%= render partial: 'tag_card', locals: { tag: tag } %>
        <% end %>
      </div>
    </div>
  </div>
</div>