<div class="min-h-screen flex items-center justify-center bg-stone-50 p-4">
  <div class="relative mx-auto w-full max-w-md bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-stone-200 sm:rounded-xl sm:px-10">
    <div class="w-full">
      <div class="text-center">
        <h1 class="text-3xl font-extrabold text-stone-800">Обновление пароля</h1>
      </div>
      <div class="mt-5">
        <% if @user.errors.any? %>
          <div class="mb-4 p-3 bg-red-50 border border-red-200 rounded">
            <ul class="space-y-1">
              <% @user.errors.full_messages.each do |message| %>
                <li class="text-red-600 text-sm"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with url: password_path(params[:token]), method: :put do |form| %>
          <div class="relative mt-6">
            <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", class: "peer mt-1 w-full border-0 border-b-2 border-stone-200 bg-transparent placeholder:text-transparent focus:border-amber-600 focus:outline-none focus:ring-0 text-stone-800"%>
            <label for="new-password" class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-stone-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-amber-600">Пароль</label>
          </div>
          <div class="relative mt-6">
            <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", class: "peer mt-1 w-full border-0 border-b-2 border-stone-200 bg-transparent placeholder:text-transparent focus:border-amber-600 focus:outline-none focus:ring-0 text-stone-800" %>
            <label for="new-password" class="pointer-events-none absolute top-0 left-0 origin-left -translate-y-1/2 transform text-sm text-stone-800 opacity-75 transition-all duration-100 ease-in-out peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-500 peer-focus:top-0 peer-focus:pl-0 peer-focus:text-sm peer-focus:text-amber-600">Еще раз пароль</label>
          </div>
          <div class="my-6">
            <%= form.submit "Сохранить", class: "w-full rounded-md bg-amber-600 px-3 py-4 text-white font-semibold hover:bg-amber-500 focus:bg-amber-500 focus:outline-none transition-colors cursor-pointer" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>